.image-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
  
.image-button-container img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    transition: opacity 1s ease-in-out; /* Smooth transition for fading */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, white 0px 0px 0px 3px;
}
  
.fade-in {
    opacity: 1; /* Fully visible */
}
  
.fade-out {
    opacity: 0; /* Fully invisible */
}  